/* Global Variables */
:root {
  --sideBGColor: #040b14;
  --themeColor: #00a78e;
  --iconBGColor: #2c2f3f;
  --bgColor: #f7f7f7;
  --textColor: #353535;
}


/* toggle-pill */

.en{
    color: var(--themeColor);
}
.es{
    color: var(--bgColor);
}
.item{
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.toggle-pill{
    padding: 0 8px;
}

.toggle-pill input[type="checkbox"] {
    display: none;
  }
  .toggle-pill input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    background: #f3f3f3;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  .toggle-pill input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: var(--themeColor);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .toggle-pill input[type="checkbox"]:checked + label {
    background: #fff;
  }
  .toggle-pill input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
  }
  /* toggle-pill end */